<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
  </div>
  <div class="content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <br>
  <% if action_name == "edit" %>
    <%= form.submit "更新する" %>
  <% else %>
    <%= form.submit "登録する" %>
  <% end %>
<% end %>
