<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :task_name %>
    <%= form.text_field :task_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :end_time %>
    <%= form.date_field :end_time, include_blank: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]}, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]}, {}, class: "form-control" %>
  </div>

  <% Label.includes(:tasks, :labellings).each do |label| %>
    <% if action_name == 'new' || action_name == 'create' %>
      <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id], "" %>
      <%= label.name %>
    <% elsif action_name == 'edit' || action_name == 'update' %>
      <%= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
      <%= label.name %>
    <% end %>
  <% end %>

  <br>
  <% if action_name == "edit" %>
    <%= form.submit "更新する", class: 'btn btn-primary' %>
  <% else %>
    <%= form.submit "登録する", class: 'btn btn-primary' %>
  <% end %>
<% end %>
