<h1>タスク一覧</h1>

<%= link_to "タスク新規作成", new_task_path, class: 'btn btn-primary' %>
<%= link_to "ラベル作成", new_label_path, class: 'btn btn-warning' %>
<br><br>
<%= form_with(url: tasks_path,  method: :get, local: true) do |form| %>
  <%= form.text_field :search , placeholder: "Search"%>
  <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]}, include_blank: "選択して下さい" %>
  <%= form.select("label_id", current_user.labels.pluck(:name, :id), { include_blank: "選択して下さい" } ) %>
  <%= form.submit '検索' %>
<% end %>

<hr>
<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th>タスク名称</th>
      <th>詳しい内容</th>
      <th><%= link_to '終了期限🔻', tasks_path(sort_expired: "true"), class: "end_time" %></th>
      <th>ステータス</th>
      <th><%= link_to '優先順位🔻', tasks_path(sort_priority: "true"), class: "priority" %></th>
      <th>作成者</th>
      <th>ラベル</th>
    </tr>
  </thead>

  <% @tasks.each do |task| %>
  <tbody class="task_body">
    <tr>
      <td><%= link_to task.task_name, task_path(task.id) %></td>
      <td><%= task.content %></td>
      <td><%= l task.end_time, format: :mid %></td>
      <td><%= task.status_i18n %></td>
      <td><%= task.priority_i18n %></td>
      <td><%= task.user.name  %></td>
      <td>
        <% task.labels.each do |label| %>
           <label class='badge badge-secondary'><%= label.name %></label>
        <% end %>
      </td>
      <td><%= link_to '詳細', task_path(task.id), class: 'btn btn-primary' %></td>
      <% if task.user == current_user %>
        <td><%= link_to '編集', edit_task_path(task.id), class: 'btn btn-primary' %></td>
        <td><%= link_to '削除', task_path(task.id), method: :delete, class: 'btn btn-danger', data: { confirm: "「#{task.task_name}」を削除していいですか？"} %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
<br>

<%= paginate @tasks %>
