<h1>タスクの詳細</h1>
<%= button_to 'タスク一覧', tasks_path , method: :get, class: 'btn btn-primary' %>
<hr>
<table>
  <tr>
    <th>タスク名称：</th>
    <td><%= @task.task_name%></td>
  </tr>
  <tr>
    <th>詳しい内容：</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>終了期限：</th>
    <td><%= @task.end_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
  </tr>
  <tr>
    <th>ステータス：</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>ラベル：</th>
    <td>
      <% @task.labels.each do |label| %>
         <label class='badge badge-secondary'><%= label.name %></label>
      <% end %>
    </td>
  </tr>
</table>
<br>
<%= button_to '編集', edit_task_path, method: :get %>
<%= button_to '削除', tasks_path, method: :get, data: {confirm: "「#{@task.task_name}」を削除していいですか？"} %>
